.ArcticleItem {
  display: flex;
    flex-direction: row;
  padding:32px 8px;
  border-radius: 8px;
  & .infoArticle{
    display: flex;
    flex-direction: row;
    color: var(--tertiary-color);;
    & > span:before{
      content: '';
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: var(--tertiary-color);;
      margin: 3px 5px;
    }
  }
}
.ArcticleItem:hover {
  cursor: pointer;
  background-color: rgb(var(--backgroundArticle));
  transform: scale(1.01) ;
  transition-duration: 100ms;
}
.ContentImage {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.DescriptionArticle {
  & > h3 {
    font-size: 1.25rem;
    line-height: 24px;
    color: #0F2137;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    padding: 0;
  }
  & > p {
    color: var(--tertiary-color);;
    font-size: 1rem;
    line-height: 20px;
    margin: 0.625rem 0 0;
  }

}
.ContentButton {
  // ajouter un margin de 8px sur le les autre éléments sauf le premier
    & > *:not(:first-child) {
        margin-left: 8px;
    }
}
.ButtonArticle {
  padding: 8px 16px !important;
  font-size: 14px !important;
  font-weight: bold !important;
  & > svg {
    margin-right: 8px;
    color: var(--color-primary);
    &[data-theme="dark"] {
      color: #fff;
    }
  }
}
.TitreArticle {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-primary);
  &[data-theme="dark"] {
    color: #fff;
  }
}