.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1024px) {
  .main {
    padding: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .main {
    padding: 1rem;
  }
}
.titreH1 {
  font-size: 6.25rem !important;
  font-weight: 900 !important;
  text-align: center !important;
}
.titreH1span {
  color: var(--secondary-color);
}
.section {
  display: flex;
  flex-direction: column;
  // flex-direction: row; screen > 768px
  margin-top: 0;


  width: 100%;
}
.section:nth-child(n+2) {
  margin-top: 7.5rem;
}
.contentSVG {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  margin-top: 3.75rem;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3.75rem;
  width: 100%;
  .TitreContent {
    font-size: 2rem;
    font-weight: 800;
    text-align: left;
  }
  & > div:first-child {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  & > div:last-child {
    flex-basis: 50%;
  }
  .Link {
    color: var(--secondary-color);
    font-weight: 600;
    &:after {
      content: " →";
    }
  }
  .info{
    color: var(--tertiary-color);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 143.8%;
  }
  .time {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    color:var(--tertiary-color);
  }


}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.75rem;
  width: 100%;

}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    & > div:last-child {
      flex-basis: 100%;
    }
  }
  .row {
    flex-direction: column;
    & > div:last-child {
      margin-top: 1.75rem;
    }
  }
}